.sliderContent {
  height: 316px;
  background-color: #e4e4e4;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  position: relative;
}

.sliderItem {
  outline: none;
  position: relative;
  left: 52px;
}

.sliderImg {
  width: 304px;
  height: 304px;
}

:global(.slick-dots li button:before) {
  content: none !important;
}

:global(.slick-dots li) {
  width: 16px !important;
  height: 16px !important;
  margin: 0 5px !important;
}

:global(.slick-dots li button) {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  border: 1px solid #e4e4e4 !important;
  padding: 0 !important;
  cursor: pointer !important;
}

:global(.slick-dots li.slick-active button) {
  background-color: #007aff !important;
  border: none !important;
  outline: none !important;
}
:global(.slick-dots) {
  width: 311px !important;
}
