.productBanner {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.productBannerContent {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  max-width: 322px;
  padding: 16px;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  width: 100%;
  position: relative;
  top: 40px;
  position: relative;
  box-sizing: border-box;
}

.productBannerContentTitle {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 4px;
  max-width: 100%;
  position: relative;
  top: 26px;
}

.productBannerContentNonPrice {
  color: #8c8c8c;
  text-decoration: line-through;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  top: 13px;
}

.productBannerContentPrice {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  top: 24px;
  position: relative;
}

.productBannerImg {
  width: 140px;
  height: auto;
  align-self: flex-end;
  margin-top: -90px;
  z-index: 1;
  margin-top: -75px;
}

.productBannerContentBtn {
  background-color: #1a1a1a;
  padding: 8px 16px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  width: 79px;
  height: 32px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: -41px;
  position: relative;
  bottom: 8px;
  left: -2px;
}

.productBannerContentCloseBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
