.filterButtons {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filterButton {
  width: 233px;
  padding: 10px;
  background-color: #007aff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  height: 48px;
}

.filterButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filterPrev {
  background-color: #e3f0ff;
  width: 97px;
  color: #007aff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  height: 48px;
}

.filterTitle {
  color: #1a1a1a;
  position: relative;
  max-width: 200px;
  font-size: 20px;
  font-weight: 600;
  left: 27px;
  top: -23px;
}
