.filterButtons {
  display: flex;
  margin-top: -153px;
  position: relative;
  z-index: 200;
  margin-left: 6px;
}

.filterButton {
  margin-left: 10px;
  width: 260px;
  padding: 10px;
  background-color: #007aff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  height: 48px;
}

.filterButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filterPrev {
  background-color: #e3f0ff;
  width: 99px;
  color: #007aff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
  height: 48px;
}

.filterTitle {
  color: #1a1a1a;
  position: relative;
  max-width: 200px;
  font-size: 20px;
  font-weight: 500;
  left: 20px;
  top: -33px;
}

.filterContentBtn {
  margin-left: 19px;
}
