.basketBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #007aff;
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.basketBadge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ff3b30;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 7px;
  text-align: center;
  width: 19px;
  height: 18px;
}
.basketBtnImg {
  width: 24px;
  height: 24px;
}

.basketBadgeTitle {
  color: white;
  font-size: 12px;
  position: relative;
  margin: -5px -4px;
  font-weight: 500;
}
