.optionColorItem {
  list-style: none;
  max-width: 300px;
}

.optionColorBox {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  order: 1;
  position: relative;
  top: 7px;
  left: 7px;
}

.optionColorBtn {
  padding: 4px;
  border-radius: 100px;
  border: 1px solid #e4e4e4;
  width: 112px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

.optionColorText {
  color: #1a1a1a;
  order: 2;
  font-weight: 600;
  position: relative;
  left: 14px;
}

.optionColorList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  position: relative;
  right: 24px;
  top: 279px;
  z-index: 20;
}

.optionColorTitle {
  color: #1a1a1a;
  font-size: 19px;
  font-weight: 500;
  position: relative;
  top: 277px;
  left: 25px;
}

.active {
  border: 1px solid #007aff;
  padding: 4px;
  border-radius: 100px;
  width: 112px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

.optionColor {
  position: relative;
  bottom: 142px;
}
