.productBtn {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.productImg {
  width: 148px;
  height: 133px;
  position: relative;
  left: -4px;
  top: 17px;
}

.imgContent {
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  height: 164px;
  width: 150px;
}

.titleProduct {
  font-size: 14px;
  position: relative;
  right: -8px;
  font-weight: 400;
  text-align: left;
  color: #1a1a1a;
}

.priceProduct {
  font-size: 14px;
  right: -8px;
  font-weight: 600;
  position: relative;
  text-align: left;
  bottom: 5px;
}
.aboutProduct {
  max-width: 144px;
}

@media (max-width: 590px) {
  .listProductContent {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .listProduct {
    background: #fff;
    box-sizing: border-box;
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 2fr);
    padding: 0;
    margin: -1px;
    max-width: 300px;
    margin-left: 16px;
  }

  .itemProduct {
    list-style: none;
    margin: -3px -1px;
    padding: 0;
    width: 78%;
    box-sizing: border-box;
    max-width: 441px;
  }
}
