.productButtonsList {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
  position: relative;
  left: -12px;
  top: 12px;
}

.productButtonsItem {
  list-style: none;
}

.productButtonsItemButton {
  background-color: transparent;
  border: none;
  position: relative;
  left: 17px;
}

.productButtonsItemButtonFilter {
  background-color: transparent;
  border: none;
  position: relative;
  left: 42px;
  top: 9px;
}

.productButtonsImgFilter {
  width: 20px;
  height: 20px;
}
.productButtonsImgUser {
  width: 20px;
  height: 20px;
  position: relative;
  left: 65px;
  bottom: -9px;
}

.filterActiveBadge {
  position: relative;
  bottom: 12px;
  right: 8px;
}

@media (max-width: 1200px) {
  .productButtonsList {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    position: relative;
    left: 402px;
    top: 29px;
  }
  .productButtonsImgUser {
    width: 20px;
    height: 20px;
    position: relative;
    left: 76px;
  }
}
@media (max-width: 992px) {
  .productButtonsList {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    position: relative;
    left: 346px;
    top: 29px;
  }
}
@media (max-width: 760px) {
  .productButtonsList {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    position: relative;
    left: 272px;
    top: 29px;
  }
}
@media (max-width: 590px) {
  .productButtonsList {
    display: flex;
    max-width: 258px;
    justify-content: space-between;
    position: relative;
    left: -12px;
    top: 28px;
  }
}
