.basketItemImage {
  width: 111px;
  height: 105px;
  background-color: #e4e4e4;
  padding: 10px;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
  right: 16%;
  bottom: 9px;
}

.basketItemName {
  font-size: 14px;
  font-weight: 400;
  color: #1a1a1a;
  position: relative;
  bottom: 3px;
  left: -31px;
}

.basketItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px -34px;
  padding: 16px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: -40px;
}

.basketItemMakePrice {
  display: flex;
  height: 20px;
  position: relative;
  top: -17px;
  right: 32px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 39px;
  margin-bottom: -27px;
  width: 171%;
}

.basketItemMinus {
  width: 28px;
  height: 28px;
  border: 1px solid #e4e4e4;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.basketItemPlus {
  width: 30px;
  height: 28px;
  border: 1px solid #e4e4e4;
  background-color: transparent;
  border-radius: 6px;
  position: relative;
  left: 15px;
  cursor: pointer;
}
.basketItemQuantity {
  position: relative;
  bottom: -2px;
  left: 6px;
}

.basketItemPrice {
  max-width: 100px;
  position: relative;
  left: 111px;
  top: 8px;
  font-size: 14px;
  font-weight: 600;
}

.basketList {
  padding: 16px;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 600px;
  width: 100%;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.basketItemContent {
  display: flex;
}

.basketTitle {
  position: relative;
  max-width: 200px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  left: 24px;
  top: -1px;
}

.basketItemBtn {
  margin-top: -17px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.basketItemBtnPrev {
  background-color: #e3f0ff;
  width: 97px;
  color: #007aff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  height: 48px;
}

.basketItemBtnOrder {
  margin-left: 7px;
  width: 233px;
  padding: 10px;
  background-color: #007aff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  height: 48px;
}

.basketBtn {
  max-width: 70px;
}

.basketItemPay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 16px auto;
  padding-bottom: 8px;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.basketItemPayTitle {
  font-size: 16px;
  font-weight: 400;
  color: #00000080;
  margin: 0;
}

.basketItemPaySpan {
  font-weight: 600;
  color: #000000;
  margin-left: 148px;
  font-size: 16px;
}

.basketItemCloseBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  left: 39px;
  top: -2px;
}

.basketItemCloseImg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.emptyBasket {
  position: relative;
  font-size: 19px;
  color: #8c8c8c;
  font-weight: 400;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyBasketContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basketItemColor {
  color: #00000080;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  right: 30px;
  bottom: 4px;
}

.basketItemColorSpan {
  font-size: 12px;
  font-weight: 400;
  color: #1a1a1a;
  position: relative;
  left: 7px;
}

.imgOfMinus {
  position: absolute;
  transform: translate(-8px, -8px);
}

.imgOfPlus {
  position: absolute;
  transform: translate(-8px, -8px);
}

.popupOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popupMessage {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  max-width: 320px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.popupMessageBtn {
  margin-top: 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #007aff;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  top: 9px;
  left: 71px;
}
